body {
  background: #F4F4F4;
}
.h-line {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #DDD;
}
.cart_hoverline:hover {
  text-decoration: underline;
}
.g-warp {
  width: 100%;
  height: auto;
}
.g-warp .pay-area {
  width: 1200px;
  background: white;
  margin: 0 auto;
  height: auto;
}
.g-warp .pay-area .md-order-head {
  position: relative;
  padding: 50px 0px 24px;
  border-bottom: 3px solid #BCBCBC;
}
.g-warp .pay-area .md-order-head .tit {
  padding-left: 90px;
  color: #333;
  background: transparent url("../images/yde.png") no-repeat scroll -240px 6px;
  font: 400 18px/24px "Microsoft YaHei";
}
.g-warp .pay-area .md-order-head .tit span {
  display: inline-block;
  vertical-align: middle;
}
.g-warp .pay-area .md-order-head .mon {
  position: absolute;
  right: 0px;
  top: 50px;
  padding-right: 60px;
  line-height: 24px;
}
.g-warp .pay-area .md-order-head .mon span {
  display: inline-block;
  vertical-align: middle;
}
.g-warp .pay-area .md-order-head .mon-num {
  color: #F36;
  font: 700 24px/1 "Microsoft YaHei";
}
.g-warp .pay-area .md-discount {
  padding: 16px 60px;
  border-bottom: 1px solid #ECECEC;
}
.g-warp .pay-area .md-discount .banklist-btm {
  padding-top: 16px;
}
.g-warp .pay-area .md-discount .banklist-btm .banklist-item {
  display: block;
  position: relative;
  margin-bottom: 20px;
  background: #FFF;
  border: 2px solid #ECECEC;
  transition: border-color 0.1s ease 0s;
}
.g-warp .pay-area .md-discount .banklist-btm .banklist-item .earnname {
  color: #BCBCBC;
  vertical-align: middle;
  width: 110px;
  padding-left: 30px;
  font-weight: 700;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.g-warp .pay-area .md-discount .banklist-btm .banklist-item .earntip {
  color: #BCBCBC;
  vertical-align: middle;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.g-warp .pay-area .md-order-foot2 {
  padding: 14px 60px 46px;
  height: 60px;
  border-top: 3px solid #BCBCBC;
}
.g-warp .pay-area .md-order-foot2 .J_payOrder {
  display: inline-block;
  width: 188px;
  height: 54px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  background: #F36 none repeat scroll 0% 0%;
  font: 400 20px/54px "Microsoft YaHei";
  float: right;
}
.g-warp .pay-area .md-order-foot2 .mon2 {
  padding-right: 20px;
  line-height: 54px;
  float: right;
}
.g-warp .pay-area .md-order-foot2 .mon2 span {
  display: inline-block;
  vertical-align: middle;
}
.g-warp .pay-area .md-order-foot2 .mon2 span #mon-num2 {
  color: #F36;
  font: 700 24px/54px "Microsoft YaHei";
}
.g-warp .g-header {
  width: 1200px;
  margin: 0 auto;
}
.g-warp .g-header .g-lf {
  display: block;
  float: left;
  width: 225px;
  height: 48px;
  margin-top: 14px;
  background: transparent url("../images/split.png") no-repeat -450px 0px;
}
.g-warp .g-header .g-lf-pay {
  background: transparent url("../images/split.png") no-repeat 0px 0px;
}
.g-warp .g-header .g-rg {
  float: right;
  width: 494px;
}
.g-warp .g-header .g-rg .md_process_wrap {
  position: relative;
  width: 494px;
  background: transparent url("../images/process_sd.png") repeat-x scroll 0px 18px;
  height: 23px;
  margin: 0px auto;
  padding: 18px 0px 24px;
}
.g-warp .g-header .g-rg .md_process_step2_5 .md_process_sd {
  width: 247px;
  background: transparent url("../images/process.png") repeat-x scroll 23px 0px;
  position: absolute;
  top: 18px;
  left: 0px;
  height: 23px;
}
.g-warp .g-header .g-rg .md_process_step2_5 .md_process_myW {
  width: 90px;
  background: transparent url("../images/process.png") repeat-x scroll 23px 0px;
  position: absolute;
  top: 18px;
  left: 0px;
  height: 23px;
}
.g-warp .g-header .g-rg .md_process_step2_5 .md_process_pay {
  width: 404px;
  background: transparent url("../images/process.png") repeat-x scroll 23px 0px;
  position: absolute;
  top: 18px;
  left: 0px;
  height: 23px;
}
.g-warp .g-header .g-rg .md_process_i {
  left: 0px;
  position: absolute;
  top: 18px;
  width: 23px;
  height: 23px;
  font: 400 14px/23px helvetica, tahoma, arial, sans-serif;
  color: #FFF;
  text-align: center;
}
.g-warp .g-header .g-rg .md_process_i1 {
  position: absolute;
  top: 18px;
  width: 23px;
  height: 23px;
  font: 400 14px/23px helvetica, tahoma, arial, sans-serif;
  color: #FFF;
  text-align: center;
}
.g-warp .g-header .g-rg .md_process_i1 .md_process_tip {
  color: #F46;
}
.g-warp .g-header .g-rg .md_process_i2 {
  left: 157px;
}
.g-warp .g-header .g-rg .md_process_i2 .md_process_tip {
  color: #F46;
}
.g-warp .g-header .g-rg .md_process_i3 {
  left: 314px;
}
.g-warp .g-header .g-rg .md_process_i4 {
  left: 471px;
}
.g-warp .g-header .g-rg .md_process_tip {
  position: absolute;
  top: 24px;
  width: 100px;
  height: 20px;
  left: 50%;
  margin-left: -50px;
  font: 400 12px/20px helvetica, tahoma, arial, sans-serif;
  color: #999;
}
.g-warp .g-conW {
  padding-top: 30px;
  width: 1200px;
  margin: 0 auto;
}
.g-warp .g-conW .cart-warp {
  background: white;
  width: 100%;
  height: auto;
}
.g-warp .g-conW .cart_page_wrap {
  padding: 20px 26px;
}
.g-warp .g-conW .cart_empty {
  padding-left: 480px;
  position: relative;
  padding: 60px 0px 80px 430px;
}
.g-warp .g-conW .cart_empty_icon {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  width: 80px;
  height: 60px;
  background: transparent url("../images/zf.png") no-repeat -198px -136px;
}
.g-warp .g-conW h5 {
  padding-top: 2px;
  color: #333;
  font: 700 16px/1 helvetica, tahoma, arial, sans-serif;
}
.g-warp .g-conW .cart_empty_list li {
  padding-left: 12px;
  background: transparent url("../images/zf.png") no-repeat -344px -33px;
  color: #666;
  font: 400 12px/2 helvetica, tahoma, arial, sans-serif;
}
.g-warp .g-conW .cart_empty_list li a {
  color: #FF4F7C;
  text-decoration: underline;
}
.g-warp .g-conW .g-wp {
  padding-top: 30px;
  width: 1200px;
  height: auto;
}
.g-warp .g-conW .g-wp .cart_slide {
  width: 100%;
  padding-bottom: 20px;
}
.g-warp .g-conW .g-wp .cart_slide a.cart-A {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  background: #333;
  border-radius: 3px;
  display: block;
  color: #FFF;
  font: 400 14px/28px helvetica, tahoma, arial, sans-serif;
}
.g-warp .g-conW .g-wp .cart_lh20 {
  line-height: 20px;
}
.g-warp .g-conW .g-wp .cart_lightgray {
  color: #999;
  line-height: 20px;
  text-decoration: line-through;
}
.g-warp .g-conW .g-wp .cart_data_sprice {
  line-height: 20px;
  font-weight: 700;
}
.g-warp .g-conW .g-wp .cart_deep_red {
  color: #F13E3A;
  font-size: 16px;
}
.g-warp .g-conW .g-wp .delete {
  color: #333;
}
.g-warp .g-conW .g-wp .delete:hover {
  text-decoration: underline;
}
.g-warp .g-conW .g-wp .goods-num-lf {
  padding-left: 80px;
}
.g-warp .g-conW .g-wp .goods-num {
  position: relative;
  width: 95px;
  height: 25px;
  border: 1px solid #DDD;
  margin-bottom: 10px;
}
.g-warp .g-conW .g-wp .goods-num .num-reduce {
  float: left;
  width: 24px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../images/uu.png");
  background-position: -3px 2px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.g-warp .g-conW .g-wp .goods-num .num-disable {
  opacity: 0.3;
}
.g-warp .g-conW .g-wp .goods-num .num-input {
  width: 44px;
  text-align: center;
  color: #000;
  font-size: 14px;
  border: 1px solid #DDD;
  border-top: none;
  border-bottom: none;
  border-image: none;
  height: 25px;
  float: left;
  background: transparent;
}
.g-warp .g-conW .g-wp .goods-num .num-add {
  float: left;
  width: 24px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../images/uu.png");
  background-position: -3px -78px;
  background-repeat: no-repeat;
  overflow: hidden;
}
.g-warp .g-conW .cart_stit {
  color: #f35f5d;
  padding-left: 20px;
  height: 46px;
  font: 700 14px/46px helvetica, tahoma, arial, sans-serif;
}
.g-warp .g-conW .cart_address_wrap {
  overflow: hidden;
}
.g-warp .g-conW .cart_address_ctrl {
  padding: 12px 0px;
}
.g-warp .g-conW .cart_address_ctrl li {
  float: left;
  margin-right: 20px;
}
.g-warp .g-conW .cart_address_ctrl li a {
  color: #666;
}
.g-warp .g-conW .cart_address_ctrl li a:hover {
  text-decoration: underline;
}
.g-warp .g-conW .addr-edit {
  padding: 18px 18px 50px;
}
.g-warp .g-conW .addr-edit .add_new_addr span {
  float: left;
  overflow: hidden;
  width: 115px;
  height: 32px;
  line-height: 32px;
  text-indent: -999em;
  cursor: pointer;
  background: transparent url("../images/addr.png") no-repeat;
}
.g-warp .g-conW .addr-edit .addressbox_warp {
  margin-top: 40px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox {
  margin-top: 10px;
  background: #FAFAFA;
  border: 1px solid #EFEFEF;
  padding: 20px;
  margin-bottom: 30px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area {
  position: relative;
  padding: 20px 20px 20px 0px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form th {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 14px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form td {
  border-bottom: none;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form input.input {
  height: 24px;
  line-height: 24px;
  width: 255px;
  border: 1px solid #CFCFCF;
  padding-left: 5px;
  color: #666;
  border-radius: 5px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form input.input162 {
  height: 24px;
  line-height: 24px;
  width: 162px;
  border: 1px solid #CFCFCF;
  padding-left: 5px;
  color: #666;
  border-radius: 5px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form #text-area {
  height: 120px;
  width: 466px;
  border: 1px solid #CFCFCF;
  color: #666;
  padding: 5px;
  border-radius: 5px;
}
.g-warp .g-conW .addr-edit .addressbox_warp .addressbox .address-pop-area .hd-form .red {
  color: #FF5A00;
}
.g-warp .g-conW .addr_section {
  height: 50px;
  width: 1076px;
  margin: 0px 18px;
  padding: 10px 17px;
  border: 1px solid #EFEFEF;
  background: #FAFAFA;
}
.g-warp .g-conW .addr_section li.name {
  width: 55px;
}
.g-warp .g-conW .addr_section li.addr {
  width: 320px;
}
.g-warp .g-conW .addr_section li.zcode {
  width: 50px;
}
.g-warp .g-conW .addr_section li.oper {
  float: right;
}
.g-warp .g-conW .addr_section li.oper .J_default{
	border-radius: 8px;
  background: #969696;
  font-size: 12px;
  color: #FFFFFF;
}
.g-warp .g-conW .addr_section li.oper a {
  display: inline-block;
  padding: 0px 7px;
  margin: 2px 0px;
  line-height: 16px;
  border-right: 1px solid #E2E2E2;
  color: #2F63CF;
}
.g-warp .g-conW .addr_section li.oper a:hover {
  text-decoration: none;
}
.g-warp .g-conW .addr_section li.oper a.cur {
  border-radius: 8px;
  background: #3071a9;
  font-size: 12px;
  color: #FFFFFF;
}
.g-warp .g-conW .addr_section li.oper a.del-cur {
  border-radius: 8px;
  background: #f35f5d;
  font-size: 12px;
  color: #FFFFFF;
}
.g-warp .g-conW .addr_section li.oper a.nobd {
  border-right: none;
}
.g-warp .g-conW .addr_section li.oper .J-default-a {
  border-radius: 8px;
  background: #35b558;
  font-size: 12px;
  color: white;
}
.g-warp .g-conW .addr_section li.oper .J-default-a:hover {
  text-decoration: none;
}
.g-warp .g-conW .addr_section li.mobile {
  margin-left: 8px;
}
.g-warp .g-conW .addr_section li.enaddr {
  padding-left: 54px;
  width: 680px;
}
.g-warp .g-conW .addr_section li {
  float: left;
  color: #333;
  text-align: center;
  line-height: 30px;
}
.g-warp .g-conW .addr-section-cur {
  border: 1px solid #FF4466;
  background: #F5F8FA;
  position: relative;
}
.g-warp .g-conW .addr-section-cur .section-cur-g {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -1px;
  right: -1px;
  background: url(../images/wtp02.png) no-repeat;
}
.g-warp .g-conW .cart_table {
  width: 1110px;
  margin-left: 20px;
  border-collapse: collapse;
  border-spacing: 0px;
}
.g-warp .g-conW .cart_table th.cart_table_goods_wrap {
  padding: 8px 10px;
  width: 280px;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  font-weight: 400;
}
.g-warp .g-conW .cart_table .cart_table_goodsinfo_wrap {
  width: 140px;
  text-align: left;
}
.g-warp .g-conW .cart_table .cart_table_goodscut_wrap {
  width: 180px;
}
.g-warp .g-conW .cart_table .cart_table_goodsctrl_wrap {
  width: 80px;
}
.g-warp .g-conW .cart_table .cart_goods_img {
  display: inline-block;
  margin: 0px 10px 0px 90px;
  float: left;
}
.g-warp .g-conW .cart_table .cart_goods_img img {
  border: 1px solid #CCC;
}
.g-warp .g-conW .cart_table .cart_goods_t {
  display: inline-block;
  float: left;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.g-warp .g-conW .cart_table th {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  padding: 15px 0px;
  font-weight: 400;
}
.g-warp .g-conW .cart_table tbody tr {
  height: 70px;
  background: #F8F8F8;
  border-bottom: 1px solid #EFEFEF;
}
.g-warp .g-conW .cart_table tbody tr td.cart_table_goods_wrap {
  padding: 8px 10px;
  width: 280px;
  border-top: 1px solid #EFEFEF;
  font-weight: 400;
}
.g-warp .g-conW .cart_table tbody tr td {
  text-align: center;
}
.g-warp .g-conW .cart_paybar {
  width: 1110px;
  height: 50px;
  margin-left: 20px;
  margin-top: 30px;
  background: #FFF;
  border-top: 1px solid #DDD;
  line-height: 50px;
}
.g-warp .g-conW .cart_paybar .cart_surebtn {
  display: block;
  width: 170px;
  height: 51px;
  float: right;
  margin-top: -1px;
  background: #FFA701 url("../images/zf.png") no-repeat 0px -267px;
  font: 0px/0 a;
  overflow: hidden;
}
.g-warp .g-conW .cart_paybar .cart_surebtn-a {
  width: 152px;
  background: #FFA701 url("../images/zf.png") no-repeat 0px -800px;
}
.g-warp .g-conW .cart_paybar .cart_surebtn:hover {
  opacity: 0.8;
}
.g-warp .g-conW .cart_paybar .cart-pr {
  position: relative;
  padding: 0px 12px 0px 8px;
  display: inline-block;
  color: #FF4F7C;
  font-weight: 700;
  font-size: 26px;
  font-family: "Microsoft YaHei", sans-serif;
  float: right;
}
.g-warp .g-conW .cart_paybar .cart-rd {
  color: #F13E3A;
}
.g-warp .g-conW .cart_paybar .cart-paybar-info {
  color: #666 !important;
  float: right;
  line-height: 50px;
}
.g-warp .g-conW .cart_paybar .cart-back {
  padding-left: 16px;
  margin-left: 0px;
  background: transparent url("../images/zf.png") no-repeat -340px -3px;
  color: #666;
}
/*# sourceMappingURL=cart1.css.map */
